<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="ui-mobile" data-ng-app="ipsy"
      data-ng-controller='layoutController'
     deferred-events="[]" 
     ga-dimensions="{&quot;dimension1&quot;:&quot;0&quot;,&quot;dimension2&quot;:&quot;0&quot;,&quot;dimension4&quot;:&quot;1&quot;,&quot;dimension5&quot;:&quot;coh-ibe568ijkwgu2&quot;}"  ipsy-on-load>
  <head>
    <!-- Main layout -->
    <title>Demo page | Steven x Wayne</title>
    <meta name="description" content="Personalized makeup and beauty products, exclusive offers, and how-to video tutorials from our ipsy Stylists. Each month subscribers receive a gorgeous Glam Bag with 5 deluxe samples or full-size goodies for only $10. Watch and learn the best tips and tricks from our ipsy Stylists and express your own unique beauty."/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui" ng-if="!(isFbMessengerPresent() || swlStep2())">
    <meta name="viewport" content="width=device-width, initial-scale=.6, minimum-scale=.6, maximum-scale=1" ng-if="isFbMessengerPresent() || swlStep2()">
    <meta property="fb:admins" content="100005224689271"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ipsy">
    <meta name="twitter:creator" content="@ipsy">
    <meta name="twitter:title" content="ipsy: Exclusive Beauty Finds by Our Stylists for YOU">
    <meta name="twitter:description" content="Founded by Michelle Phan. Personalized beauty products &amp;amp;amp; offers (makeup &amp;amp;amp; more)! Subscribe to the Glam Bag.">
    <meta name="twitter:image:src" content="https://cdn.ipsy.com/static/images/fb_share_4_KqbeR1D7PzQVGk5NgWuijHtvOcCxKs1SyKfCWAZ4Pi2.jpg">
    <!-- Instrumentation -->
    <script type="text/javascript">
    var ipsyPageStart = new Date().getTime();
    console.log("ipsyPageStart="+ipsyPageStart);
</script>
    <meta property="og:type" content="website"/>
<meta property="og:site_name" content="ipsy.com"/>
<meta property="og:url" content="https://www.ipsy.com/"/>
<meta property="og:image" content="https://cdn.ipsy.com/static/fb_share_4_KqbeR1D7PzQVGk5NgWuijHtvOcCxKs1SyKfCWAZ4Pi2.jpg"/>
<meta property="og:image:width" content="960"/>
<meta property="og:image:height" content="510"/>
<meta property="og:title" content="ipsy: Exclusive Beauty Finds by Our Stylists for YOU">
<meta property="og:description" content="Founded by Michelle Phan. Personalized beauty products &amp;amp; offers (makeup &amp;amp; more)! Subscribe to the Glam Bag.">

    <!-- favicons and shortcut icons -->
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.ipsy.com/static/favicon_lG3jcJTGgYbhGzXgWRXipHSwstYIi00SGksPxc0egHZ.ico" />
    <link rel="icon" sizes="192x192" href="https://cdn.ipsy.com/static/touch-icon_CJmmb1QcwdxIeKFLWniefYm5ubbMTvda4Y3spp9jYdd.png">
    <link rel="apple-touch-icon" href="https://cdn.ipsy.com/static/touch-icon-iphone_qiWKqQ5jPaI97bUJdsZDEalcfl1b3bIk6pfkRDanoCx.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.ipsy.com/static/touch-icon-ipad_QJvZBqL9s8y9M2cH3dZ74lEY2LZrUSiQd0UM9dNyiQ7.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.ipsy.com/static/touch-icon-iphone-retina_utxH3eY6d8zPTQdkHP5HOJuqragnc6KuRdKqy8KhRMk.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.ipsy.com/static/touch-icon-ipad-retina_ZUsoYiLSTmQsiMFxkVRovWE4e2BH0LIaxapoxC82Fng.png">
    <!-- Fonts and CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300|Roboto:400,100,300,500,700,900,100italic,300italic,400italic,500italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    
    <!-- /Fonts and CSS -->

    


    <meta name="google-site-verification" content="9s68stUHnFo1JLlfGTywtTERBIJGzaG7rSVlABaW0o4"/>
    <meta name="google-site-verification" content="mYc57EcxLQLT1Z7ciuhjjMJkwFwiacWv9LhFBz8aInA"/>
    <meta name="google-site-verification" content="iVk5n0MPdRO8o7m0eqdSQ3QiRIrbeWn0OSqsgnW05SQ"/>
    <meta name="google-site-verification" content="DtIDyct1abngpOiPEMSxLQhAf_RERhKNEPGIihZ4axM"/>
    <meta name="google-site-verification" content="PpnTjCl51zyAuMmPBTNg_7ujTUwF7neUu9oZA9zKAws"/>
    <meta name="google-site-verification" content="bXscwBAQ6r5ghhOK-2qktlUlv1ZmO2U8_KJg3KlELhA"/>
    <meta name="p:domain_verify" content="d64a7116c5e204ec24d52773f997f21f"/>

    
    
    
    
  
    <link href="https://cdn.ipsy.com/static/combined_AbNX7YgrKOzuaCFK2iwUOBRQA1Ch3ZNhAWXusvtc7nh.css" type="text/css" rel="stylesheet" media="screen, projection" />

    
  </head>

  <body data-ng-class="&#39;open&#39;" ng-controller="smoothScroll" id="top">

    

    
      <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MS57WR"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MS57WR');</script>
<!-- End Google Tag Manager -->
    

    
    

    
      <!-- STICKY FOR DESKTOP -->

  
    
      <a id="sticky_banner_sub" href="/subscribe" ipsy-analytics-href="CHOOSE_SUB_PACKAGE" event-label="Clicked a subscribe button on site">
        <div class="sticky desktop bgPinkMd align-center cta-banner">
          <p class="white inline margin-v margin-h-sm">Get exclusive beauty finds by our stylists just for you in the monthly Glam Bag!</p>
          <div class="btnSm btnWhite inline margin-v" id="sticky_banner_subscribe_btn">Subscribe Now</div>
        </div>
      </a>
    

    
  


    

    

    

    <!-- CONTENT WRAPPER -->
    <div class="wrapper" data-ng-class="{ 'account':accountMenu(),'main':isMainMenuOpen(),'open-modal':openModal(),'glambag':glambagMenu(),'swl-step2': swlStep2()}"  data-ng-click="layoutService.setLayoutElement('wrapperType', null)">
      <div ng-controller="headerController">
        
          <div class="header home" data-ng-class="{'fixed':layoutService.getLayoutElement('wrapperType')!=null}">
            <style>.sticky.cta-banner{ display: none!important; }</style>

<!-- TODO: (Akshay) Not sure whether this is the right way to this. Check with the team. Needs to be done, to request the
     correct secure port in development -->

<div class="nav-bar">
  <a href="/" class="page">
    <div class="logo">Steven x Wayne</div>
  </a>

  <div class="toolbar">
    
    <a href="/quiz/take/begin" class="page" open-in-new-window-in-canvas="true"
       ipsy-analytics-href="SIGNED_OUT_LANDING_EXPERIENCE" event-label="Clicked Join Button in Header">
      <div class="btnPink" id="splash_join_btn" ipsy-nav-link="header_join">加入我們</div>
    </a>
      <div class="btnGrayDk" id="splash_login_btn" data-ng-click="showLoginModal();">會員登入</div>
  </div>

</div>
<script type="text/ng-template" id="login_modal"><div class="modal-container ng-scope" data-ng-class="{ 'open':wrapperType==modal }" style="max-width: 480px;" stop-event="touchend">
  <div class="balancer"></div>
  <div class="flat-white inner">
    <div class="cancel">
      <div class="jump-back grayDk" data-ng-click="$dismiss();"><li>cancel</li></div>
    </div>
    <div class="flat-white content">

      <div class="flat-grayLt padding margin-h align-center">
        <h4 class="">Not a Member? Join for free!</h4>
        <p class="">Connect with like-minded women and share your unique beauty!</p>
        <a href="/quiz/take/begin"><div class="btnSm btnPink margin-top">Join Now</div></a>
      </div>

      <h1 class="grayLt roboto300 xlg align-center margin-v">Log in</h1>

      <!-- for existing user login -->
      <p class="margin align-center" ng-show='registered'>Username or email has been registered, please log in:</p>
      <form name="loginForm" data-ng-submit="validateLoginForm() && doLogin();" ng-class="{'form-submitted': formSubmitted}">
        <div class="module-form login align-center">
          <div class="ng-pristine ng-valid">
            <div class="infoContainer" style="margin:0 0 20px 0;" ng-show="passwordIsReset">
              <p class="roboto400 white">Please check your email for your new password!</p>
            </div>
            <div ng-show="formHasErrors" class="errorContainer align-center" style="width:80%;">{{customError}}</div>
            <div class="flat-grayLt section">
              <input type="text" id="username" name="username" placeholder="Email Address or Username" class="align-center" ng-model="username" required add-class-on-invalid add-focus="focusAdded" tabindex="1">
            </div>
            <div class="flat-grayLt section password">
              <input type="text" class="align-center" tabindex="-1">
              <input type="password" id="password" name="password" autocomplete="off" class="placeholder-shim align-center" data-ng-class="{'active':togglePassword()}" data-ng-focus="layoutService.setLayoutElement('password','active')" ng-minlength="6" placeholder="Password" data-role="none" add-class-on-invalid required ng-model="password" tabindex="2">
            </div>

            <div class="btnSm btnPink cta block margin-top" ng-click="validateLoginForm() && doLogin();">Log in</div>
            <input type="submit" class="hidden-submit" />
            <ipsy-facebook-connect on-success="doFacebookLogin();">
              <div class="btnSm btnFacebook cta block margin-top">Log in with Facebook</div>
            </ipsy-facebook-connect>
            <a href="/forgotpassword">
              <div class="btnSm btnGrayMd cta block margin-top">Forgot Password?</div>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</script>

          </div>
        
        

      </div>

      <!-- NAV CANVAS -->
      <div class="nav-canvas" data-ng-click="layoutService.setLayoutElement('wrapperType',null)" data-ng-show="!layoutService.isLayoutElementSet('wrapperType',null);"></div>

      
        <!-- STICKY FOR DESKTOP -->

  
    
      <a id="sticky_banner_sub" href="/subscribe" ipsy-analytics-href="CHOOSE_SUB_PACKAGE" event-label="Clicked a subscribe button on site">
        <div class="sticky mobile bgPinkMd padding align-center cta-banner">
          <p class="white padding-h-sm">Get exclusive beauty finds by our stylists just for you in the monthly Glam Bag!</p>
        </div>
      </a>
    

    
  


      


      

      

      
    <div class="splash-container content" ng-controller="splashController"
         ipsy-analytics-load="SIGNED_OUT_LANDING_EXPERIENCE" event-label="Landed on Signed Out Homepage">
      <div class="flat-white relative" ipsy-critical-feature="splash_top">
        <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-auto-slide="5" class="carousel splash-carousel">
        
        
          <li>
            <section class="glambag" style="background-image:url(assets/img/one-taiwan.png);">
                <article>

  <div class="desc">

    <h1 class="roboto300 pink">NT$10/month</h1>

    <h2 class="roboto300">免運費</h2>

    <h3>讓我們看見力量</h3>

  </div>

  <div class="cta"> 

    <a href="/quiz/take/begin" open-in-new-window-in-canvas="true">

      <div class="btnMd btnPink left">現在觀看</div>

    </a>

  </div>

</article>
            </section>
          </li>
        
          <li>
            <section class="glambag" style="background-image:url(assets/img/one-taiwan-2.png);">
                <article>

  <div class="desc">

    <h1 class="roboto300 pink">NT$30/pc</h1>

    <h2 class="roboto300">免運費優惠實施中</h2>

    <h3>不可能的任務</h3>

  </div>

  <div class="cta"> 

    <a href="/quiz/take/begin" open-in-new-window-in-canvas="true">

      <div class="btnMd btnPink left">任務詳情</div>

    </a>

  </div>

</article>
            </section>
          </li>
        
          <li>
            <section class="glambag" style="background-image:url(assets/img/one-taiwan-3.png);">
                <article>

  <div class="desc">

    <h1 class="roboto300 pink">NT$9.99/件</h1>

    <h2 class="roboto300">免運費，小數點後四捨五入</h2>

    <h3>百年難得一件，不容錯過</h3>

  </div>

  <div class="cta"> 

    <a href="/quiz/take/begin" open-in-new-window-in-canvas="true">

      <div class="btnMd btnPink left">立刻取得</div>

    </a>

  </div>

</article>
            </section>
          </li>
        

        </ul>
        
          <div class="rn-carousel-indicator slide-indicator">
            
              <li data-ng-class="{active: '0'==carouselIndex}" data-ng-click="carouselIndex = '0'"></li>
            
              <li data-ng-class="{active: '1'==carouselIndex}" data-ng-click="carouselIndex = '1'"></li>
            
              <li data-ng-class="{active: '2'==carouselIndex}" data-ng-click="carouselIndex = '2'"></li>
            
          </div>
        


      </div>

      <!-- SECONDARY MODULE -->
      
        <div class="bg-dots brands padding align-center">
          
            <div class="inline">
              <img src="https://static-cms.ipsy.com/contentAsset/image/d81ab6d7-dbe4-4fce-b7f3-55dda848a716/fileAsset" alt="urban decay">
            </div>
          
            <div class="inline">
              <img src="https://static-cms.ipsy.com/contentAsset/image/7d2f8c17-403f-42a7-aa71-3d41f9dc1c48/fileAsset" alt="nyx">
            </div>
          
            <div class="inline">
              <img src="https://static-cms.ipsy.com/contentAsset/image/66ff9233-e5f0-4355-8661-e0547873fad8/fileAsset" alt="smash box">
            </div>
          
            <div class="inline">
              <img src="https://static-cms.ipsy.com/contentAsset/image/77872fe8-330b-42f4-b036-46748e959019/fileAsset" alt="it cosmetics">
            </div>
          
            <div class="inline">
              <img src="https://static-cms.ipsy.com/contentAsset/image/da7043e2-1877-48cd-ab4b-8ff43339ef09/fileAsset" alt="ole henriksen">
            </div>
          
            <div class="inline">
              <img src="https://static-cms.ipsy.com/contentAsset/image/8e5415d3-f316-4fef-a990-b38b107158e9/fileAsset" alt="sexy hair">
            </div>
          
            <div class="inline">
              <img src="https://static-cms.ipsy.com/contentAsset/image/cd3d9fa5-24f2-4ae0-8ab5-26f8c288a83d/fileAsset" alt="nicole by opi">
            </div>
          
        </div>


      <div class="flat-grayLt padding-v">
        <div class="padding align-center">
          <h1 class="xlg roboto100 pink">How it Works</h1>
        </div>

        <!-- SECONDARY MODULE -->
        <div class="clear">
          <div class="stack-3col">
            <li><div class="icon" style="background-image:url(https://cdn.ipsy.com/static/icon_makeup-lg-pink_391OlTndALzCjL1scfiTxFNmOmJJMpj7CDG6OguwLsN.png);"></div><h4 class="margin-top"><strong>Sample 5 amazing beauty products</strong> tailored to you in a collectible bag</h4></li>
            <li><div class="icon" style="background-image:url(https://cdn.ipsy.com/static/icon_video-lg-pink_tvdceWFV5zitlTpccchgOB9Rmpu7cx35b0Ck5tJ6hlw.png);"></div><h4 class="margin-top"><strong>Watch product tutorials</strong> from our stylists showing you how to get the Look</h4></li>
            <li><div class="icon" style="background-image:url(https://cdn.ipsy.com/static/icon_tag-lg-pink_mM5NggPfAEVvYPFvzys03TNKv25GD74bj8EYo2rgfV4.png);"></div><h4 class="margin-top"><strong>Save up to 70%</strong> through members only offers and win free products in contests and giveaways</h4></li>
            <div class="align-center clear">
              <a href="/quiz/take/begin" open-in-new-window-in-canvas="true">
                <div class="margin-top btnMd btnPink">現在體驗!</div></a></div>
          </div>
        </div>
      </div>

      <!-- SECONDARY MODULE -->
      
      
        <div class="flat-white brands padding align-center">
          <h1 class="xlg roboto100 grayLt">媒體曝光</h1>
          
            <div class="inline">
              <img src="https://static-cms.ipsy.com/contentAsset/image/9c92d0b9-bbae-4f5a-b67e-98e4afe879b6/fileAsset" alt="yahoo">
            </div>
          
            <div class="inline">
              <img src="https://static-cms.ipsy.com/contentAsset/image/f2d06502-78d6-4b41-a2de-171c4629aaba/fileAsset" alt="wwd">
            </div>
          
            <div class="inline">
              <img src="https://static-cms.ipsy.com/contentAsset/image/15bfd2d8-1195-4778-aede-a54112aef48b/fileAsset" alt="health">
            </div>
          
            <div class="inline">
              <img src="https://static-cms.ipsy.com/contentAsset/image/0885dcdb-a488-4849-8efd-90c80a6deaf3/fileAsset" alt="fortune">
            </div>
          
            <div class="inline">
              <img src="https://static-cms.ipsy.com/contentAsset/image/585eeb3e-f077-48ca-b027-74c61cd9d52c/fileAsset" alt="allure">
            </div>
          
        </div>
      

    </div>
  
      <div class="loader" ng-show="loader()"></div>
<div class="flat-grayMd footer">
  <div class="social margin-bot">
    <li open-in-new-tab-on-click href='http://www.facebook.com/ipsy'><i class="fa fa-facebook"></i></li>
    <li open-in-new-tab-on-click href='http://www.instagram.com/ipsy'><i class="fa fa-instagram"></i></li>
    <li open-in-new-tab-on-click href='http://www.twitter.com/ipsy'><i class="fa fa-twitter"></i></li>
    <li open-in-new-tab-on-click href='http://www.pinterest.com/ipsy'><i class="fa fa-pinterest-p"></i></li>
    <li open-in-new-tab-on-click href='http://plus.google.com/+ipsydotcom'><i class="fa fa-google-plus"></i></li>
    <li open-in-new-tab-on-click href='http://www.youtube.com/ipsy'><i class="fa fa-youtube-play"></i></li>
  </div>
  <div class="copyright white">&copy; Copyright 2015 Personalized Beauty Discovery, Inc. All Rights Reserved</div>
  <div class="links">
    <li><a href="/about">About</a></li>
    <li class="margin-bot"><a href="/community">Community Guidelines</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/terms">Terms</a></li>
    <li class="margin-bot"><a href="/copyright">Copyright and Intellectual Property</a></li>
    <li><a href="http://careers.ipsy.com" target="_blank">Careers</a></li>
    <li><a href="http://help.ipsy.com" target="_blank">ipsyCare (Help)</a></li>
    <li><a href="http://www.ipsyos.com?sid=ipsy&cid=footer" target="_blank">Beauty creator? Join ipsyOS!</a></li>
  </div>
</div>


      <script type="text/ng-template" id="modal_feature_block">
<div class="modal-container ng-animate" data-ng-class="{ 'open':wrapperType==modal }" style="max-width:480px;" stop-event="touchend">
  <div class="balancer"></div>
  <div class="flat-white inner">
    <div class="cancel">
      <div class="jump-back" data-ng-click="$close();"><li>cancel</li></div>
    </div>
    <div class="flat-white content">
      
      <div class="flat-grayLt margin-h padding">
        <h1 class="pink roboto300 align-center">Sorry but you can't do that yet!</h1>
        <p class="margin-top">This feature is only available to active Glam Bag subscribers.</p>
        <div class="margin-top align-center">

          
            
              <a href="/subscribe" ipsy-analytics-href="CHOOSE_SUB_PACKAGE" event-label="Clicked a subscribe button on site">
                <div class="btnSm btnPink">Subscribe Now</div></a>
            
            
          

          
          
        </div>
      </div>
    
    </div>
      
  </div>
</div></script>

    </div>
    <!-- Asynchronous JS -->
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create',
     'UA-56167403-1',
     'auto');
    
  
</script>
    
    <!-- /Asynchronous JS -->

    <!-- Deferred Resources -->
    <script src="https://cdn.ipsy.com/static/bundle-application_defer_cpRsalbFi2AXp8vbMhRDl5iolasSrtQoeubQPBeKlmn.js" type="text/javascript" ></script>

<script src="https://cdn.ipsy.com/static/qualaroo_bsLB0tjMBZmQwE6QWrKGCKNWeBSlQ2MvaY2YsbLPwuw.js" type="text/javascript" ></script>
<script src="https://cdn.ipsy.com/static/ipsypointscommon_xjCocZUboc2y9roQdrChXaiaS8EdMjinknFHYgdhxA3.js" type="text/javascript" ></script>










<script src="https://cdn.ipsy.com/static/splash_fT7d8RiFMTABqj2Qa5NiDPcFGmgDTYA6mRhlApvOr9B.js" type="text/javascript" ></script>
<script type="text/javascript">
  angular.module('ipsy.common')
    .constant('FORCE_NON_SECURE', 'false')
  angular.module('ipsy.facebook')
    .constant('FACEBOOK_APPLICATION_ID', '183662791755899');
  angular.module('ipsy.facebook')
    .constant('FACEBOOK_TEST_USER', false);
  angular.module('ipsy.instagram')
    .constant('INSTAGRAM_CLIENT_ID', '4af95be0cc6b4b9cb6a514be74fc9125');
  angular.module('ipsy.youtube')
    .constant('YOUTUBE_CLIENT_ID', '994986539570-o8hsi0dj01bkp8u1p0cr7rpebfarljrv.apps.googleusercontent.com');
  angular.module('ipsy.common')
    .constant('GOOGLE_PLACES_URL', 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCP68EcvDalmNGETQ51i2aGCzQP1DwU47U');
  angular.module('ipsy.common')
    .constant('BASE_URL', 'https://www.ipsy.com/');
  angular.module('ipsy.common')
    .constant('SESSION_ID', '18475BBA16CD04383D9EBD38A48D3544');
  angular.module('ipsy.common')
    .constant('GA_PLATFORM_DIM_NAME', 'dimension6');
  angular.module('ipsy.common')
    .constant('GA_BPM_SESSION_DIM_NAME', 'dimension7');
</script>
    <!-- /Deferred Resources -->
    <!-- for youtube subscribe button -->
    <script src="//apis.google.com/js/platform.js" async></script>
    <script src="//apis.google.com/js/client:plusone.js" async></script>
    <redirect-to-site-if-in-fb-canvas-from-feed></redirect-to-site-if-in-fb-canvas-from-feed>
    
    <ipsy-qualaroo-attribute id="itr-c37ea068-98f6-4a4d-8a7a-cc25ffd1f10d"></ipsy-qualaroo-attribute>
  </body>
</html>
